# Machine Learning Model

## Supervised ML

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

## import dataset

In [2]:
supply_demand = pd.read_csv('../cleaned_data/supply_demand.csv')
import_export = pd.read_csv('../cleaned_data/import_export.csv')
price_by_type = pd.read_csv('../cleaned_data/price_by_type.csv')
gas_storage = pd.read_csv('../cleaned_data/storage_vol.csv')

## Preprocessing Data

In [3]:
supply_demand = supply_demand.drop(columns='Unnamed: 0')
import_export = import_export.drop(columns='Unnamed: 0')

In [4]:
supply_demand.head()

   Year  Month  Gas_Procution(Mmcf)  Gas_Consumption(Mmcf)
0  2022      2              2856356              3040029.0
1  2022      1              3180818              3591557.0
2  2021     12              3266272              2979653.0
3  2021     11              3161306              2659971.0
4  2021     10              3219612              2237715.0

In [5]:
supply_demand=supply_demand.rename(columns={'Gas_Procution(Mmcf)': 'Gas_Production(Mmcf)'})

In [6]:
import_export.head()

,Year,Month,Import_price($/Mcf),Export_price($/Mcf),Total Imports (Mmcf),Total Exports (Mmcf)
0,2022,2,5.62,8.22,259389,545563
1,2022,1,6.87,7.04,296179,610102
2,2021,12,4.74,7.40,252626,620886
3,2021,11,5.18,8.10,242405,556982
4,2021,10,4.79,7.97,228203,545055

In [7]:
price_by_type.head()

,Year,Month,all_grades(Price_per_Gallon),regular(Price_per_Gallon),midgrade(Price_per_Gallon),premium(Price_per_Gallon),diesel(Price_per_Gallon)
0,2001,1,1.487,1.447,1.541,1.630,1.524
1,2001,2,1.490,1.450,1.544,1.635,1.492
2,2001,3,1.450,1.409,1.506,1.596,1.399
3,2001,4,1.591,1.552,1.646,1.732,1.422
4,2001,5,1.738,1.702,1.785,1.869,1.496

In [8]:
#change columns name
price_by_type = price_by_type.rename(columns={
    'all_grades(Price_per_Gallon)':'all_grades($/Gallon)',
    'regular(Price_per_Gallon)':'regular($/Gallon)','midgrade(Price_per_Gallon)':'midgrade($/Gallon)',
    'premium(Price_per_Gallon)':'premium($/Gallon)',
    'diesel(Price_per_Gallon)': 'diesel($/Gallon)'
})

In [9]:
price_by_type = price_by_type.sort_values('Year',ascending=False)
price_by_type

,Year,Month,all_grades($/Gallon),regular($/Gallon),midgrade($/Gallon),premium($/Gallon),diesel($/Gallon)
253,2022,2,3.611,3.517,3.939,4.210,4.032
252,2022,1,3.413,3.315,3.766,4.036,3.724
246,2021,7,3.231,3.136,3.577,3.823,3.339
240,2021,1,2.420,2.334,2.719,2.975,2.681
241,2021,2,2.587,2.501,2.884,3.140,2.847
...,...,...,...,...,...,...,...
8,2001,9,1.557,1.522,1.600,1.682,1.495
9,2001,10,1.357,1.315,1.409,1.499,1.348
10,2001,11,1.212,1.171,1.265,1.357,1.259
11,2001,12,1.127,1.086,1.179,1.271,1.167
0,2001,1,1.487,1.447,1.541,1.630,1.524

In [10]:
gas_storage.head()

   Year  Month  Volume_Mmcf
0  2022      2    5997164.0
1  2022      1    6653327.0
2  2021     12    7647859.0
3  2021     11    7971480.0
4  2021     10    8103211.0

In [11]:
gas_storage = gas_storage.rename(columns={'Volume_Mmcf': 'Volumn(Mmcf)'})

In [12]:
## create new df contains all data we need
new_df = supply_demand.merge(import_export, how='right')
new_df1 = new_df.merge(price_by_type,how='right')
us_gas_data = new_df1.merge(gas_storage,how='right')
us_gas_data

,Year,Month,Gas_Production(Mmcf),Gas_Consumption(Mmcf),Import_price($/Mcf),Export_price($/Mcf),Total Imports (Mmcf),Total Exports (Mmcf),all_grades($/Gallon),regular($/Gallon),midgrade($/Gallon),premium($/Gallon),diesel($/Gallon),Volumn(Mmcf)
0,2022,2,2856356,3040029.0,5.62,8.22,259389,545563,3.611,3.517,3.939,4.210,4.032,5997164.0
1,2022,1,3180818,3591557.0,6.87,7.04,296179,610102,3.413,3.315,3.766,4.036,3.724,6653327.0
2,2021,12,3266272,2979653.0,4.74,7.40,252626,620886,3.406,3.307,3.771,4.034,3.641,7647859.0
3,2021,11,3161306,2659971.0,5.18,8.10,242405,556982,3.491,3.395,3.836,4.098,3.727,7971480.0
4,2021,10,3219612,2237715.0,4.79,7.97,228203,545055,3.384,3.291,3.723,3.979,3.612,8103211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,2001,5,1763141,1522382.0,4.95,5.50,321878,28981,1.738,1.702,1.785,1.869,1.496,5749464.0
250,2001,4,1703310,1807170.0,5.35,5.65,318573,23637,1.591,1.552,1.646,1.732,1.422,5252851.0
251,2001,3,1766754,2246633.0,5.42,4.93,358103,32121,1.450,1.409,1.506,1.596,1.399,5041971.0
252,2001,2,1582557,2309464.0,6.45,5.80,328289,26882,1.490,1.450,1.544,1.635,1.492,5240820.0
253,2001,1,1753237,2676998.0,9.47,7.48,373077,25547,1.487,1.447,1.541,1.630,1.524,5609446.0

In [13]:
annual_gas_production = us_gas_data.groupby(['Year']).mean()['Gas_Production(Mmcf)']
annual_gas_consumption = us_gas_data.groupby(['Year']).mean()['Gas_Consumption(Mmcf)']
annual_gas_import_p = us_gas_data.groupby(['Year']).mean()['Import_price($/Mcf)']
annual_gas_export_p = us_gas_data.groupby(['Year']).mean()['Export_price($/Mcf)']
annual_total_import = us_gas_data.groupby(['Year']).mean()['Total Imports (Mmcf)']
annual_total_export = us_gas_data.groupby(['Year']).mean()['Total Exports (Mmcf)']
annual_avg_all_grades_p = us_gas_data.groupby(['Year']).mean()['all_grades($/Gallon)']
annual_avg_reg_p = us_gas_data.groupby(['Year']).mean()['regular($/Gallon)']
annual_avg_midg_p = us_gas_data.groupby(['Year']).mean()['midgrade($/Gallon)']
annual_avg_pre_p = us_gas_data.groupby(['Year']).mean()['premium($/Gallon)']
annual_avg_dis_p = us_gas_data.groupby(['Year']).mean()['diesel($/Gallon)']
annual_avg_vol = us_gas_data.groupby(['Year']).mean()['Volumn(Mmcf)']

In [19]:
annual_gas_summary = pd.DataFrame({
    'production(Mmcf)': annual_gas_production,
    'consumption(Mmcf)': annual_gas_consumption,
    'vol(Mmcf)': annual_avg_vol,
    'total_import(Mmcf)': annual_total_import,
    'toal_export(Mmcf)': annual_total_export,
    'import_price($/Mmcf)': annual_gas_import_p,
    'export_price($/Mmcf)': annual_gas_export_p,
    'all_grades_p($/Gallon)': annual_avg_all_grades_p,
    'reg_p($/Gallon)': annual_avg_reg_p,
    'midg_p($/Gallon)': annual_avg_midg_p,
    'pre_p($/Gallon)': annual_avg_pre_p,
    'dis_p($/Gallon)': annual_avg_dis_p 
})

annual_gas_summary.head()

,production(Mmcf),consumption(Mmcf),vol(Mmcf),total_import(Mmcf),toal_export(Mmcf),import_price($/Mmcf),export_price($/Mmcf),all_grades_p($/Gallon),reg_p($/Gallon),midg_p($/Gallon),pre_p($/Gallon),dis_p($/Gallon)
Year,,,,,,,,,,,,
2001,1.714191e+06,1.853219e+06,6.335558e+06,331411.500000,31106.583333,4.357500,4.383333,1.466167,1.426000,1.518833,1.607917,1.404083
2002,1.657065e+06,1.918918e+06,6.715545e+06,334622.000000,43019.333333,3.138333,3.339167,1.381833,1.340333,1.435250,1.525833,1.315333
2003,1.664530e+06,1.856375e+06,6.256805e+06,328645.750000,56660.250000,5.180833,5.582500,1.601083,1.559167,1.656333,1.746000,1.508333
2004,1.626458e+06,1.866879e+06,6.460054e+06,354879.916667,71178.083333,5.779167,6.069167,1.891250,1.848750,1.946917,2.038417,1.807500
2005,1.577258e+06,1.834536e+06,6.492884e+06,361752.833333,60716.666667,8.085000,8.010833,2.312167,2.268167,2.367583,2.465917,2.398667

In [23]:
annual_gas_summary.columns

Index(['Year', 'production(Mmcf)', 'consumption(Mmcf)', 'vol(Mmcf)',
       'total_import(Mmcf)', 'toal_export(Mmcf)', 'import_price($/Mmcf)',
       'export_price($/Mmcf)', 'all_grades_p($/Gallon)', 'reg_p($/Gallon)',
       'midg_p($/Gallon)', 'pre_p($/Gallon)', 'dis_p($/Gallon)'],
      dtype='object')

In [20]:
annual_gas_summary = annual_gas_summary.reset_index()

In [24]:
test = annual_gas_summary.drop(columns = ['reg_p($/Gallon)',
       'midg_p($/Gallon)', 'pre_p($/Gallon)', 'dis_p($/Gallon)'])
test

,Year,production(Mmcf),consumption(Mmcf),vol(Mmcf),total_import(Mmcf),toal_export(Mmcf),import_price($/Mmcf),export_price($/Mmcf),all_grades_p($/Gallon)
0,2001,1.714191e+06,1.853219e+06,6.335558e+06,331411.500000,31106.583333,4.357500,4.383333,1.466167
1,2002,1.657065e+06,1.918918e+06,6.715545e+06,334622.000000,43019.333333,3.138333,3.339167,1.381833
2,2003,1.664530e+06,1.856375e+06,6.256805e+06,328645.750000,56660.250000,5.180833,5.582500,1.601083
3,2004,1.626458e+06,1.866879e+06,6.460054e+06,354879.916667,71178.083333,5.779167,6.069167,1.891250
4,2005,1.577258e+06,1.834536e+06,6.492884e+06,361752.833333,60716.666667,8.085000,8.010833,2.312167
5,2006,1.617473e+06,1.808256e+06,6.860307e+06,348856.833333,60329.750000,6.866667,6.831667,2.615083
6,2007,1.683029e+06,1.925316e+06,6.837505e+06,383965.166667,68537.833333,6.872500,6.905833,2.845500
7,2008,1.759338e+06,1.939751e+06,6.592182e+06,332008.416667,80271.750000,8.774167,8.774167,3.305083
8,2009,1.803995e+06,1.909173e+06,7.052343e+06,312613.333333,89363.083333,4.136667,4.354167,2.396667
9,2010,1.865156e+06,2.007233e+06,7.052461e+06,311730.000000,94732.416667,4.464167,5.030000,2.833583
10,2011,2.003029e+06,2.039785e+06,7.004209e+06,289057.750000,125470.833333,4.221667,4.640833,3.576417
11,2012,2.106940e+06,2.128207e+06,7.501633e+06,261482.416667,134902.333333,2.880833,3.223333,3.686167
12,2013,2.130186e+06,2.179589e+06,7.149331e+06,240279.666667,131034.416667,3.815000,4.081667,3.576417
13,2014,2.291480e+06,2.216115e+06,6.620863e+06,224614.916667,126186.833333,5.380833,5.410000,3.442000
14,2015,2.397670e+06,2.270321e+06,7.171337e+06,226507.750000,148626.083333,3.153333,3.080000,2.513000
15,2016,2.366671e+06,2.287018e+06,7.577976e+06,250536.500000,194620.666667,2.337500,2.745833,2.252500
16,2017,2.436486e+06,2.261873e+06,7.304990e+06,252768.916667,262817.000000,2.690000,3.535833,2.530333
17,2018,2.750739e+06,2.511578e+06,6.654810e+06,240737.000000,300653.500000,2.812500,3.855833,2.817333
18,2019,3.037243e+06,2.594337e+06,6.901474e+06,228476.333333,388138.083333,2.588333,3.630833,2.685750
19,2020,3.016870e+06,2.539351e+06,7.456273e+06,212611.666667,440300.666667,2.086667,3.624167,2.259750
20,2021,3.084288e+06,2.523619e+06,7.134772e+06,233996.833333,554384.000000,3.735833,6.512500,3.093750
21,2022,3.018587e+06,3.315793e+06,6.325246e+06,277784.000000,577832.500000,6.245000,7.630000,3.512000

In [25]:
consumer_factors = pd.read_csv('Resources/Datasets/cleaned_data/consumer_factors.csv')
consumer_factors = consumer_factors.sort_values(by='Year')
consumer_df = consumers_factors.drop(columns='all_conusmers(Mmcf)')
consumer_df

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/Datasets/cleaned_data/consumer_factors.csv'